body {
    margin-top: 15%;
    background-image: url('../images2/grid.jpg');
    background-size: cover;
    display: flex;
   /* flex-direction: column;*/ 
    align-items: center;
    cursor: url('  '), auto;
}

.button-container {
  display: flex;  
  justify-content: center; 
  gap: 20px; 
  margin-top: 20px;
  margin-left: 40%;
}

.button-link {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #ff90e8;
    color: #000;
    font-family: "jali-latin-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    border: 2px solid #000;
    margin-top: 100px;
    cursor: pointer;
    font-size: 40px;
    padding: 50px 80px;
    padding: 10px;
    text-decoration: none; 
    text-align: center;
    transition: all 0.14s ease-out;
    gap: 10px;
    white-space: nowrap;
}

.button-link:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.button-link:focus-visible {
    outline-offset: 1px;
}
