body {
    margin: 3%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background-image: url('../images2/grid.jpg');
    background-size: cover;
   /* height: 100vh; */
}

h1{
    text-align: center;
    font-family: "jali-latin-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 44px;
    text-transform: uppercase;
}


#charInput1 {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 12%; 
    margin-top: -1%;
    margin-bottom: 10px; 
    border: 2px solid black; 
    background: white; 
    outline: none; 
    box-shadow: none; 
    border-radius: 12px;
    font-family: "jali-latin-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: normal;
    font-size: 20px;
}

#charInput2{
        padding: 10px;
        font-size: 20px;
        text-align: center;
        width: 12%; 
        margin-top: -1%;
        margin-bottom: 10px; 
        border: 2px solid black; 
        background: white; 
        outline: none; 
        box-shadow: none; 
        border-radius: 12px;
        font-family: "jali-latin-variable", sans-serif;
        font-variation-settings: 'wght' 400;
        font-style: normal;
        font-size: 20px;
}

#submitButton {
    display: inline-block;
    font-family: "jali-latin-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: black;
    font-size: 17.5px;
    border: 2px solid transparent;
    border-color: #000;
    background: white;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    transition: background-color .1s ease-in-out;
    margin-bottom: 20px; 
    border-radius: 12px;
}
#submitButton:hover {
    background-color: #000;
    color: #fff;
    border: 3px solid transparent;
}

