
body {
    background-image: url('../red-grid.jpg');
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
   /* height: 100vh; */
}


h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 44px;
    margin-top: 5%;
    line-height: 0%;
    letter-spacing: -3px;
}

h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 0%;
}

#charInput {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 12%; 
    margin-top: -1%;
    margin-bottom: 10px; 
    border: 2px solid black; 
    background: white; 
    outline: none; 
    box-shadow: none; ;
    font-family: "jali-latin-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: normal;
    font-size: 20px;
}


#submitButton {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-variation-settings: 'wght' 400;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: black;
    font-size: 17.5px;
    border: 2px solid transparent;
    border-color: #000;
    background: white;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    transition: background-color .1s ease-in-out;
    margin-bottom: 20px; 
}

#submitButton:hover {
    background-color: #000;
    color: #fff;
    border: 3px solid transparent;
}


#displayedImage {
    display: none; 
    width: 300px;
    height: auto;
    margin-top: 10px; 
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    height: 100px; /* adjust based on image height */
    position: relative;
  }
  
  .scrolling-image {
    width: 4000px; /* set to 2x the image width if looping */
    height: 90px;
    background: url('../Menubar.png') repeat-x;
    background-size: contain;
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }